body{
    margin: 0;
    padding: 0;
}
 * {
    margin: 0;
    padding: 0;
 }
 /* -------------------- Home --------------------  */
.container_Home{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 3% 0%;
    background-color: rgb(28, 28, 28);
}
.introduce {
    margin: auto;
    padding: 5% 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 20px;
}
.introduce h3{
    font-size: 39px;  
}
.introduce h1{
    font-size: 120px;
    color: rgb(240, 170, 52);
}
.sp{
    display: flex;
    justify-content: flex-end;
}
.sp span:last-child{
    color: rgb(240, 170, 52);
}

.pic_Home img{
    width: 80%;
}

/* -------------------- About Me --------------------  */
.container_info{
    padding: 5% 0%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: rgb(45, 45, 45);
}
.content_Me{
    padding: 0% 4%;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(240, 170, 52);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content_Me h1{
    line-height: 150%;
    font-size: 45px;
}
.content_Me h2{
    line-height: 150%;
    font-size: 20px;
}
.content_Me p{
    line-height: 200%;
    color: white;
    font-size: 15px;
}
.pic_aboutme {
    text-align: center;
}
.pic_aboutme img{
    width: 60%;
}

/* -------------------- skills --------------------  */
.container_skills{
    font-family: 'Kanit', sans-serif;
    padding: 5% 0%;
    background-color: rgb(28, 28, 28);
}
.content_skills{
margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 80%;

}
.container_skills h1{
    text-align: center;
    padding: 2% 0%;
    color: rgb(240, 170, 52);
    font-size: 50px;
    font-family: 'Josefin Sans', sans-serif;
}
.container_skills h6{
    padding: 3% 0%;
    color: rgb(240, 170, 52);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}
.container_skills img{
   padding: 10% 0%;
    width: 12%;
}

.skill_unity , .skill_ai , .skill_ps{
    padding: 3% 10%;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 15px;
    align-items: center;
}

.skill_ai{
    border-left: solid rgb(240, 170, 52);
    border-right: solid rgb(240, 170, 52);
}



/* -------------------- Responsive --------------------  */
@media only screen and (max-width: 375px){ /* Iphone */ 
    /* -------------------- Home --------------------  */
    .nav{
        display: none;
    }
    .container_Home{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding: 5% 0%;
        background-color: rgb(28, 28, 28);
    }
    .introduce{
        margin: auto;
        padding: 20% 0%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 200px;
        font-size: 20px;
    }
    .introduce h3{
        font-size: 20px;  
    }
    .introduce h1{
        font-size: 60px;
        color: rgb(240, 170, 52);
    }
    .sp{
        font-size: 10px;
        display: flex;
        justify-content: flex-end;
    }
    .pic_Home {
        padding-top: 15%;
        text-align: center;
        grid-row: 1/span 1;
    }


    /* -------------------- About Me --------------------  */
    .container_info{
        padding: 5% 0%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .content_Me{
        padding: 15% 0%;
        padding-left: 20%;
    }
    .content_Me h1{
        font-size: 20px;
    }
    .content_Me p{
        font-size: 10px;
    }
    .content_Me h2{
        padding-bottom: 5%;
        font-size: 10px;
    }
    .pic_aboutme {
        padding-top: 15%;
    }
    .pic_aboutme img{
        width: 60%;
    }

    /* -------------------- skills --------------------  */
    
    .container_skills{
        padding: 5% 0%;
    }
    .content_skills{
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 80%;
    
    }
    .container_skills h1{
        text-align: center;
        padding-top: 10%;
        color: rgb(240, 170, 52);
        font-size: 50px;
        font-family: 'Josefin Sans', sans-serif;
    }
    .container_skills h6{
        padding: 3% 0%;
        color: rgb(240, 170, 52);
        font-family: 'Josefin Sans', sans-serif;
        font-size: 20px;
    }
    .container_skills img{
        padding: 15% 0%;
        width: 20%;
    }
    .skill_unity , .skill_ai , .skill_ps{
        padding: 10% 10%;

    }
    .skill_ai{
        border-left: none;
        border-right: none;
        border-top: solid rgb(240, 170, 52);
        border-bottom: solid rgb(240, 170, 52);
    }
}
